.playArea {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid black 2px;
    width: 50%;
}

.playHeader {
    display: flex;
    gap: 10%;
    justify-content:space-around;
    align-items: center;
}

.selection {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    align-items: center;
}

.choice {
    height: 50px;
    margin: 10px;
    font-size: large;
}

.roundView {
    display: flex;
    flex-direction: column;
}

.roundView p {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
}

#startGame {
    font-size: 24px;
}